$body-bg:             #EBEFF1 !default;
$body-color:          #4C5766 !default;
$font-serif:          14px/1.375 'Roboto', sans-serif !default;

$loader-width:        32px;

$search-bg:           #646E7B !default;

$screen-xs:           480px !default;
$screen-sm:           768px !default;
$screen-md:           992px !default;
$screen-lg:           1200px !default;